/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
    font: "Maple Mono NF CN 10";
}
element-text {
    font: "Maple Mono NF CN 12";
}
